---
import WriteUpIndex from "../../components/WriteUpIndex.astro";
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Calming Tea Friends.</h1>
		<h3>Write ups</h3>
        <WriteUpIndex></WriteUpIndex>
	</main>
</Layout>